#editor { 
    margin: 2rem;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 450px;
}
/* IME Fix */
/* 日本語のちらつきを抑える */
@font-face {
    font-family: 'ime_jp_rp';
    src: url('./ime_jp_rp.woff') format('woff');
}
.ace_editor > .ace_text-input {
    padding-top: 1px;
    padding-left: 1px;
    letter-spacing: 1px;
    font-family: ime_jp_rp, Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

#resultBox {
    width: 50%;
    height: 200px;
    margin-left: 10%;
    font-size: 24px;
    border: solid;
    word-break : break-all;
    overflow: auto;
    white-space : pre-wrap;
}